* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cambria', serif;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: #15442d;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #aff1dd;
}

.container {
  margin: 50px auto;
  padding: 50px;
  width: 1320px;
  background-color: #e1f1eb;
  border: 1px solid #15442d;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #15442d;
}

header ul,
#contacts ul {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 90%;
}

header ul li,
#contacs ul li {
  display: inline-block;
}

ul li {
  list-style-type: none;
}

a {
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
  border-bottom: 2px solid #e1f1eb;
  transition: all 0.15s linear;
}

a:not(footer a:last-of-type):not(.messengers a):hover {
  color: #020806;
  border-bottom: 2px solid #020806;
}

h1 {
  margin-top: 30px;
  font-weight: 700;
  font-size: 40px;
  line-height: 45px;
  text-align: center;
  text-shadow: 1px 1px 2px #020806;
}

header img {
  margin: 30px 0 30px calc(50% - 100px);
  width: 200px;
  height: auto;
  border-radius: 15px;
  box-shadow: 1px 1px 5px #020806;
}

section {
  margin-bottom: 30px;
}

h2 {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
}

.messengers {
  display: flex;
  justify-content: space-between;
  width: 20%;
}

p {
  margin-bottom: 15px;
  text-indent: 25px;
}

#skills ul {
  margin: 0 auto;
  width: 130px;
}

#skills ul li {
  margin-bottom: 10px;
  padding-left: 30px;
  list-style-type: none;
  background: url(img/li-background.svg) no-repeat left center;
  background-size: 15px;
}



.years {
  font-weight: 700;
}

.position {
  font-style: italic;
}

#education ul {
  margin: 0 auto;
  width: 520px;
}

#education ul li {
  margin-bottom: 10px;
}

#education a {
  font-size: 20px;
  line-height: 26px;
}

#english-level {
  text-align: center;
}

footer {
  padding: 30px 50px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #15442d;
}

footer p {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
}

.course-logo {
  width: 150px;
  height: auto;
}
